<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="description" property="og:description" content="{{ page.description }}" >
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <link rel="stylesheet" href="//myfb.github.io/css/9.css" type="text/css" />
  <script src="//cdn.luysec.com/asset/js/main.js"></script>
</head>
<body>
<div id="site">
{{ content }}
</div>
{% include fb.html %}
</body>
